body{
    /* background-color: #EAECEE; */
    background-color: #17202A;
}

pre {
    padding: 1em;
    color: #FEF9E7;
    border-radius: 5px;
}

.container-fluid{
    padding: 2em;  
}

h3 {
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    color: #FEF9E7;
    padding: 0.2em;
    margin: 0.3em;
}

h4{
    font-size: 1em;
}

h4:hover{
    cursor: pointer;
}

@keyframes close {
    0% {
        transform: scale(1.02);
        opacity: 0.5;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
  }

.line-number{
    background-color: #2E86C1;
    transition: 1s;
    text-align: center;
    animation: 
    close
    0.5s
    ease-in
    0s
    normal
    none
    running;
}

.line-number:hover {
    background-color: #212F3C;
    transition: 0.5s;
}

@keyframes stretch {
    0% {
        transform: scale(0.9);
        background-color: #2E86C1;
      }
      100% {
        transform: scale(1);
      }
  }

.clicked{
    background-color: #212F3C;
    transition: 1s;
    text-align: left;
    animation: 
    stretch
    1s
    ease-out
    0s
    normal
    none
    running;
}

.hidden {
    display: none;
}



