body{
    background-color: #17202A;
}

.mode {
    color: #FEF9E7;
    cursor: pointer;
    transform: scale(1.5);
}

.mode:hover {
    transition: 0.3s;
    color: #2E86C1;
}

.main-title{
    font-weight: 500;
    text-transform: uppercase;
}

pre {
    padding: 1em;
    color: #FEF9E7;
    border-radius: 5px;
}

.container-fluid{
    padding: 2em;  
}

h3 {
    background-color: #2E86C1;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 1.25em;
    font-family: 'Trebuchet MS', sans-serif;
    color: #FEF9E7;
    padding: 0.5em;
    margin: 0.3em;
}

@keyframes close {
    0% {
        transform: scale(1.02);
        opacity: 0.75;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
  }

.line-number{
    background-color: #212F3C;
    transition: 1s;
    text-align: center;
    padding-left: 30px;
    animation: 
    close
    1.5s
    ease-in-out
    0s
    normal
    none
    running;
    padding-top: 1em;
    border: 00.1px solid #212F3C;
}

.line-number:hover {
    transition: 0.5s;
}

@keyframes stretch {
    0% {
        transform: scale(0.9);
        background-color: #2E86C1;
      }
      100% {
        transform: scale(1);
      }
  }

.clicked{
    background-color: #212F3C;
    font-size: smaller;
    transition: 1s;
    text-align: left;
    animation: 
    stretch
    1s
    ease-in-out
    0s
    normal
    none
    running;
    padding: 2.5em;
}

.hidden {
    display: none;
}

.visible {
    display: inline;
}

.sm-btn {
    border: none;
    background-color: transparent;
    color: #FEF9E7;
    position: relative;
    display: block;
    float: right;
    cursor: pointer;
    font-size: medium;
}

.clicked .sm-btn {
    border: none;
    background-color: transparent;
    color: #FEF9E7;
    position: relative;
    display: inline;
    float: right;
    cursor: pointer;
}

.clicked .sm-btn:hover {
    transition: 1s ease-in-out;;
    color: #2E86C1;
}

.solution-line{
    background-color: #17202A;
    transition: 1s;
    padding: 1em;
    padding-left: 30px;
    margin-top: 3em;
    display: block;
    text-align: center;
}

.solution-clicked{
    background-color: #17202A;
    transition: 1s;
    text-align: left;
    display: block;
    animation: 
    stretch
    1s
    ease-out
    0s
    normal
    none
    running;
    padding: 3em;
}

.solution-clicked:hover {
    background-color: #17202A;
}

.clicked .sm-btn:hover {
    transition: 1s;
    color: #2E86C1;
}

.solution-clicked .sm-btn {
    border: none;
    background-color: transparent;
    color: #FEF9E7;
    position: relative;
    display: inline;
    float: right;
    cursor: pointer;
    transform: translate(25px, 25px);
}


@keyframes group-open {
    0% {
        transform: scale(0.9);
      }
      100% {
        transform: scale(1);
      }
  }


  @keyframes group-close {
    0% {
        transform: scale(1.02);
        opacity: 0.5;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
  }

.question {
    transition: 1s;
    border: none;
    border-radius: 5px;
    animation: 
    group-close
    1s
    ease-in-out
    0s
    normal
    none
    running;
}

.group {
    padding: 0.1em;
}

.group:hover{
    cursor: pointer;
}

.group h3:hover {
    transition: 0.5s ease-in-out;
    transform: scale(1.01);
}

.group-clicked {
    transition: 1s;
    animation: 
    group-open
    1s
    ease-out
    0s
    normal
    none
    running;
}

.group-name{
    margin: 0 auto;
    border-radius: 5px;
    padding: 0.75em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;

}

.footer {
    padding-top: 3em;
    font-size: small;
    color: #aaa;
    text-align: center;
    position: relative;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer a{
    color: #2E86C1;
    text-decoration: none;
    opacity: 0.7;
} 

.footer a:hover {
    transition: 0.5s;
    opacity: 1;
}

.navbar {
   height: 10vh;
   padding-top: 0em;
   vertical-align: text-top;
   background-color: #212F3C;
}

.navbar a {
    vertical-align: text-top;
    color: #FEF9E7;
    text-decoration: none;
    transform: scale(1.5);
}

.navbar a:hover {
    color: #2E86C1;
    transition: 0.3s;
}

.problem-text {
    font-family: 'Trebuchet MS', sans-serif;
}

.selected {
   display: block;
}

.invisible {
    visibility: hidden;
}




